h2{
    text-align: inherit;
    font-size: medium;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-color:rgba(8, 208, 235, 0.582);
    color: rgb(152, 152, 185);

}
h3{
    text-align: inherit;
    font-size: medium;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-color:rgba(8, 208, 235, 0.582);
    color: rgb(152, 152, 185);

}
h4{
    border-color:rgba(8, 208, 235, 0.582);
    color: rgb(17, 116, 141);

}


}
button{
    color: rgb(37, 13, 247);
    text-decoration-color: rgb(242, 248, 248);

}
